* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


.boxes {
    width: 100%;
    text-align: center;
    background-color: gray;
    padding: 20px;
    transform: rotate(90deg);
}
    

.box {
    font-weight: bold;
    width: 60%;
    
    padding: 40px;
    font-size: 2.4em;
}

.box1 {
    background-color: purple;
}

.box2 {
    background-color: indigo;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: green;
}

.box5 {
    background-color: yellow;
}

.box6 {
    background-color: orange;
}

.box7 {
    background-color:red;
}
